* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono";

    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;

}

a {
    text-decoration: none;
    color: #FFFFFF;
}

button {
    cursor: pointer;
}


*::-webkit-scrollbar {
width: 0;
}

*::-webkit-scrollbar-track {
background: transparent;
}

*::-webkit-scrollbar-thumb {
background: transparent;
border: none;
}

* {
-ms-overflow-style: none;
}

.header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    background: #000000;
    color: #FFFFFF;
}

.header-content {
    display: flex;
    margin: 0 30px;
    width: 100%;
    max-width: 1170px;
    justify-content: space-between;
}

.header-title h1 {
    font-size: 2.5rem;
}

.header-content-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.header-content-list li {
    padding: 2px 8px 8px;
    cursor: pointer;
    border-bottom: 2px solid #000000;
    transition: 0.3s;
}

.header-content-list li:hover {
    border-color: #949494;
    color: #00ff00;
}

.header-content-list li + li {
    margin-left: 20px;
}

.home-page {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/black-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.home-content {
    display: flex;
    flex-direction: row;
    margin: 0 30px;
    width: 100%;
    max-width: 1170px;
}

.text {
    width: 70%;
    color: #ffffff;
    font-size: 3.6rem;
}

.text span {
    display: block;
    color: #00ff00;
    font-size: 1.6rem;
}

.home-buttons {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.home-buttons button {
    color: #FFFFFF;
    width: 12rem;
    height: 3rem;
    font-size: 1rem;
    background: transparent;
    border: 2px solid;
    border-color: #FFFFFF;
    border-radius: 4px;
    transition: 0.3s;
}

.home-buttons button + button {
    margin-top: 20px;
}

.home-buttons button:hover {
    border-color: #949494;
    color: #00ff00;
}

.project-page {
    display: flex;
    width: 100%;
    height: calc(100vh - 70px);
    justify-content: center;
    background: #FFF3F3;
}

.project-content {
    width: 100%;
    max-width: 1170px;
}

.header-projects-page {
    height: 6rem;
    align-items: center;
    text-align: center;
    margin: 3rem 0 1rem;
}

.header-projects-page p {
    margin-top: 30px;
}

.slider-projects-cards {
    display: flex;
    width: 100%;
    height: 40rem;
    justify-content: center;
    align-items: center;
}

.projects-page {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 100px; 
    justify-content: space-evenly; 
    align-content: center; 
}

.project-card {
    width: 25rem;
    height: 36rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 1em #c0c0c0;
    border-radius: 5px;
    overflow: hidden;
}

.card-image {
    height: 40%;
}

.card-image img {
    width: 100%;
    height: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 60%;
    padding: 20px 30px;
    
}

.card-content h1 {
    text-align: center;
    margin: 0 0 20px;
}

.card-button {
    width: 100%;
    height: 2rem;
    margin: 20px 0;
    bottom: 0px;
    background-color: #444444;
    border: none;
    border-radius: 4px;
    transition: 0.5s;
}

.card-button:hover {
    background-color: #2b2b2b;
}

.prev, .next {
    margin: 0 20px;
    border-radius: 10px;
    background-color: #00000010;
    width: 4rem;
    height: 4rem;
    text-align: center;
    transition: 0.3s;
}

.prev img, .next img {
    width: 3rem;
    height: 3rem;  
    margin: 0.5rem; 
}

.prev:hover, .next:hover {
    background-color: #00000030;
}

.inactive-project-page {
    display: none;
}